h1{
	color: #000000;
}
.bg-556699{
	background-color: #556699;
}
.border{
	border: 5px dashed blue;
}
#big{ font-size: 55px; }
}

h2{
	background-color: #dddddd;
	width: 100px;
	height: 100px;
}
	
